server:
  port: 8081

spring:
  application:
    name: rag-chatbot
  datasource:
    url: jdbc:postgresql://localhost:5432/ragchatbot
    username: postgres
    password: ${DB_PASSWORD:1234}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

groq:
  api-key: ${GROQ_API_KEY}
  chat-model: llama-3.3-70b-versatile
  api-base-url: https://api.groq.com/openai/v1

rag:
  chunk-size: 500
  chunk-overlap: 50
  top-k: 5
